body {
  padding-top: 50px;
  background-image: url("../Pictures/StarsSpaceBackground.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover 
}
img.saber{
position: absolute; 
top: 52px;
left: 150px;
height:150px; 
width: 200px;
}

img.sabercopy{
position: absolute; 
top: 52px;
left: 150px;
height:150px; 
width: 200px;
}


img.sabercopy2{
position: absolute; 
top: 52px;
left: 1000px;
height:150px; 
width: 200px;
}

img.sabercopy3{
position: absolute; 
top: 52px;
left: 1000px;
height:150px; 
width: 200px;
}

.starter-template { 
color: white; 
background-color: black; 
border: white 2px solid;
padding: 10px 15px;
font-family: Lucida, Monospace;
}


