body {
  position: relative;
  padding-top: 50px;
  background-image: url("../Pictures/StarsSpaceBackground.jpg");
  background-repeat: repeat;
  background-position: center top;
  background-size: 80% 80vh;	
}

.table{
margin-right:60px;
margin-left:60px;
border:5px solid transparent;
border-collapse:seperate;
}


.table1{
margin-right:60px;
margin-left:60px;
border:5px solid transparent;
border-collapse:seperate;
}

.tr1{
border: 5px solid transparent;
}

.tr2{
border: 5px solid transparent;
}

.tr3{
border: 5px solid transparent;
}

.tr4{
border: 5px solid transparent;
}

.tr5{
border: 8px solid transparent; 
}



img.Nick1{
border-color: #59E817;
box-shadow: 0 0 100px #59E817;
}

.Nick{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: left;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}


img.Jon1{
border-color: white 4px solid;
box-shadow: 0 0 100px #5CB3FF;
}

.Jon{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: left;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}

img.sedona1{
border-color: #59E817;
box-shadow: 0 0 100px #59E817;
}

.sedona{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: left;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}

img.caitlyn1{
border-color: #5CB3FF;
box-shadow: 0 0 100px #5CB3FF;
}

.caitlyn{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: left;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}

img.Gokul1{
border-color: #5CB3FF;
box-shadow: 0 0 100px #5CB3FF;
}

.Gokul{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: left;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}

img.George1{
border-color:  #59E817;
box-shadow: 0 0 100px  #59E817;
}

.George{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: left;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}



img.Audrey1{
border-color: #59E817;
box-shadow: 0 0 100px #59E817;
}

.Audrey{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: left;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}

img.Ryan1{
border-color: #5CB3FF;
box-shadow: 0 0 100px #5CB3FF;
}

.Ryan{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: left;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}

.tablementor{
border:5px solid transparent;
border-collapse:seperate;
}

img.Castro1{
border-color: 	#FF0000;
box-shadow: 0 0 100px 	#FF0000;
}

.Castro{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: center;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}


img.Josh1{
border-color: 	#FF0000;
box-shadow: 0 0 100px 	#FF0000;
}

.Josh{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: center;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}


img.Jenny1{
border-color: 	#FF0000;
box-shadow: 0 0 100px 	#FF0000;
}

.Jenny{
padding: 15px 15px;
font-size:18px;
text-position: left;
text-align: center;
width: 250px; 
height: 250px;
color: white; 
background-color: black; 
border: white 2px solid;  
font-family: Lucida, Monospace;" 
}

.footer{
  margin-top:2cm;
  background-color:black; 
  margin-bottom:-1cm; 
  padding-bottom:-1px;
  line-height:2em;  
  position:relative; 
  font-color: white;
  margin-left:-3cm;; 
  margin-right:-3cm; 
  text-align:center;
  font-family:'Courier New'; font-size:80%;
  line-height:4em; 
  word-spacing:5cm;
}

